.btn{
    border: none;
  background: transparent;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: white;
  
  border-radius: 5px;
  transition: 0.3s all ease-out;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover{
  background: #000000;
  color: white;
}
@media only screen and (max-width: 900px) {
  .btn  {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }

 
}
