.services-submenu {
    margin-left: -70px;
    width: 12rem;
    position: absolute;
    top: 75px;
    list-style: none;
    text-align: start;
  }
  
  .services-submenu li {
    background: rgb(0, 212, 212);
    cursor: pointer;
  }
  
  .services-submenu li a:hover {
    width: 10rem;
    background: rgb(0, 175, 175);
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  