.navbar {
    height: 10vh;
    background: rgb(65, 76, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 4rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    
  }
  
  .nav-item a:hover {
    background: rgb(114, 140, 140);
  }
  .navbar{
    position: relative;
  }
  /* .m{
    display: flex;
    position: absolute;
    top: -10px;
    color: white;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    background-color: aqua;

  }
  .m :hover{
    background: rgb(5, 196, 196);
  } */
  .m{
    display: none !important;
  }

  @media only screen and (max-width: 900px) {
    .nav-item a {
      font-size: 0.7rem;
      margin-bottom: -1px;
      
    }
    /* .leftSide{
      display: none;
    } */
    .navbar-logo{
      font-size: 1.5rem;
      width: 7.7rem;

    }
   
  }
  @media only screen and (max-width: 900px) {
    .nav-item a {
      display: none;
      
    }
    
    .navbar-logo{
      font-size: 1.5rem;
      width: 7.7rem;

    }
   
  }
@media only screen and (min-width:900px){
  .Btn{
    display: none;
  }
 .m{
  display: none !important;
 }
 
}

  